PORT=10000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/aeroedge?retryWrites=true&w=majority
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password
NOTIFY_EMAIL=aeroedgetechnologies@gmail.com
