/* Existing styles */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  min-height: 100vh;
  overflow-x: clip;
  overflow-y: auto;
  margin: 0;
}

#root {
  overflow-x: clip;
}

main.scrollable {
  width: 100%;
  overflow-x: clip;
  overflow-y: visible;
}



/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
